@import "@quenk/wml-widgets/lib/content/screen/less/screen";
#header {

  min-height: 15em;
  padding: 1em 3em;
  color: #ffffff;
  background: #218C8D;

  .screen-not-small({

    text-align: center;

  });

}
