@import "@quenk/wml-widgets/lib/content/screen/less/screen";

.converse-dashboard-header {

  display: flex;

  & > h1 {

    margin: 0;

  }

  & > .converse-dashboard-post-button {

    margin-left: auto;

  }

}


/**
 * Hides the element when we determine the screen is below the small breakpoint.
 */
.-converse-hide-screen-small {

  .screen-small({
    display: none;
  })

}
