.devcarib-event-rank-panel {

  & .devcarib-event-rank-panel-link {

    text-decoration: none;

    &:hover {
      
      color: #086bdf;

    }

  }

  & .devcarib-event-rank-panel-title {

    margin: 0;
    color: #333;
    font-weight: 600;

    & > small {

      color: #5c656e;
      font-size: 0.8em;

    }

  }

  & .devcarib-event-rank-panel-start {

    margin-top: 0.2em;
    color: #5c656e;

  }

  & .devcarib-event-rank-panel-noevents {

    text-align: center;

  }

}
