<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Quenk Technologies Interns">
    <title> Job Board </title>
    <link rel="stylesheet" href="/widgets.css">
    <link href="/board.css" rel="stylesheet">
</head>

<body>

    <div id="main" class="ww-grid-layout">


        <div class="ww-grid-layout__row">

            <div class="ww-grid-layout__column -span6 -offset3">

                <h3>Employer Registration Form </h3>

                <div class="ww-panel">

                    <div class="ww-panel__body">

                        <form autocomplete="off">

                            <div class="ww-text-field">
                                <label class="ww-label">Company Name</label>
                                <input name="name" class="ww-text-input -block" autocomplete="off">
                            </div>

                            <div class="ww-text-field">
                                <label class="ww-label">Email</label>
                                <input name="email" class="ww-text-input -block" autocomplete="off">
                            </div>

                            <div class="ww-text-field">
                                <label class="ww-label">Website</label>
                                <input name="website" class="ww-text-input -block">
                            </div>

                            <div class="ww-text-field">
                                <label class="ww-label">Description</label>
                                <textarea class="ww-text-input -block" name="description" rows="10"></textarea>
                            </div>

                            <button type="button" class="ww-button -toolbar-compat -error -block">Register</button>

                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>

</html>
