<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Quenk Technologies Interns">
    <title> Job Board </title>
    <link rel="stylesheet" href="/widgets.css">
    <link href="/board.css" rel="stylesheet">
</head>

<body>
    <div class="ww-panel">
        <div class="ww-panel__body">
            <form>
                <div class="ww-text-field -block">
                    <label class="ww-label">Company Name</label>
                    <input name="name" class="ww-text-input">
                </div>
                <div class="ww-text-field -block">
                    <label class="ww-label">Email</label>
                    <input name="email" class="ww-text-input">
                </div>
                <div class="ww-text-field -block">
                    <label class="ww-label">Website</label>
                    <input name="website" class="ww-text-input">
                </div>
                <div class="ww-text-field -block">
                    <label class="ww-label">Description</label>
                    <textarea class="ww-textfield" name="description" rows="10"></textarea>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
