.board-top-bar {

  & + #main, & + main {

    margin-top: 5em;

  }

  background-color: #fbfbfb;

  & > .ww-action-bar__content {

    & a.board-top-bar-logo > img.board-top-bar-logo-image {

      display:block;
      height: 36px;
      max-width: 100%;

    }

    & > .board-top-bar-cta {

      margin-left: auto;

    }

  }

  & .converse-account-dropdown {

    & > button {

      border: #000 2px solid;

    }

    & > button:active {

      box-shadow: none;

    }

    & > .ww-drop-down__content {

      left: auto;
      right: 0;

    }

  }

}
