{% set path = document.paths.comments or "no-comments-path" %}
  let that = this;

  return doFuture(function*() {

    let path = interpolate('{{path}}', { id });

    let res = yield that.send(new request.Get(
        path,
        qry,
        {
         tags: {
         path,
         verb: 'post',
         method: 'getComments'
        }
    }));

   return pure((res.code === 204) ? [] : (<{data: Comment[]}>res.body).data);

  });
